
.custom-date-picker {
    /* Add your custom styles here */
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Style the calendar popup */
  .react-datepicker-popper {
    z-index: 9999; /* Ensure the calendar appears above other elements */
  }
  
  .react-datepicker {
    /* Customize the appearance of the date picker popup */
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .react-datepicker__header {
    background-color:blue;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
  }
  
  .react-datepicker__current-month {
    font-weight: bold;
  }
  
  .react-datepicker__day-names {
    /* Customize the appearance of day names (Sun, Mon, Tue, etc.) */
    margin-bottom: 8px;
    display: flex;
    justify-content: space-around;
  }
  
  .react-datepicker__day-name {
    font-weight: bold;
  }
  
  .react-datepicker__day {
    /* Customize individual day cells */
    padding: 5px;
  }
  
  .react-datepicker__day:hover {
    /* Highlight day on hover */
    background-color: #f0f0f0;
  }
  
  .react-datepicker__day--today {
    /* Customize today's date cell */
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }
  
  .react-datepicker__day--selected {
    /* Customize the selected date cell */
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }
  
  .date-picker-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .react-datepicker__input-container{
    width:430px;
  }
  
  /* Custom styles for the date picker label */
  .date-picker-label {
    margin-bottom: 5px;
  }