html,
body,
#root,
.app {
  background-color: #f8faeb;
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}


@media (max-width: 991.98px) {
  .mobile-spacing {
    margin-top: 20px; /* Adjust the spacing value as needed */

  }
}


/* Custom CSS to reduce the height of the Carousel */
.carousel {
  max-height: 500px; /* Adjust the height as per your requirement */
}

.carousel-inner {
  max-height: 500px; /* Adjust the height as per your requirement */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px; /* Adjust the height as per your requirement */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.fixed-height-card{
  height:100px
}

.fixed-height-image{
  height:263px
}

.orange {
  color: #fff;
  background-color: #ff8c00; /* Adjust the color as needed */
  border-color: #ff8c00; /* Adjust the color as needed */
}

.image{
  background-image: url("https://media.istockphoto.com/id/1373670875/photo/rearview-shot-of-a-young-woman-cheering-on-graduation-day.webp?b=1&s=612x612&w=0&k=20&c=T_ui3MP92nubNN4IxeSgkkLjetQ3dxuolab2VMZRftA=");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.nav-link{
  color: white !important;
}

.link-footer{
  color: white;
}

.star-icon {
  position: absolute;
  top: 10px;
  font-size: larger;
  left: 10px;
  color: gold; /* Customize the color of the star icon */
  z-index: 1;
}

/* Override the hover color for dropdown items */
.dropdown-menu a.nav-link:hover {
  color: white;
  background-color: rgb(242, 67, 13);
}

.btn.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg:black;
  --bs-btn-border-color:black;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(242, 67, 13);
  --bs-btn-hover-border-color: rgb(242, 67, 13);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: black;
  --bs-btn-active-border-color: black;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: black;
  --bs-btn-disabled-border-color: black;
}