html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
}


/* Custom CSS to reduce the height of the Carousel */
.carousel {
  max-height: 500px; /* Adjust the height as per your requirement */
}

.carousel-inner {
  max-height: 500px; /* Adjust the height as per your requirement */
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  max-height: 500px; /* Adjust the height as per your requirement */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.fixed-height-card{
  height:100px
}

.fixed-height-image{
  height:200px
}

.image{
  background-image: url("https://images.pexels.com/photos/8948347/pexels-photo-8948347.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  
}

.nav-link{
  color: white !important;
}

.link-footer{
  color: white;
}

